<div class="container">
  <div class="row justify-content-md-center text-center">
      <div class="col-12 bg-info " >
          <form (ngSubmit)="onSubmit()">
            <div class="text-center">
                <img src="../assets/Main.jpg" class="rounded" alt="Main" width="600" height="400">
              </div>
          
              <h1>Flowers Wedding Seating Chart</h1>
              <h3>Please Search For Your Name</h3>
              
                <div class="mx-auto input-group w-25 mt-3">
                    <input type="text" name="nameInput" placeholder="First and Last Name" [(ngModel)]="name" aria-label="First and Last Name" >
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button" type="submit">Search</button>
                    </div>
                </div>
                
              <div *ngIf="showNotFound" class="Jumbotron">
                  
                  <h1 class="display-4">You are a WEDDING CRASHER!</h1>
              </div>

              <div *ngIf="foundPerson">
                <h1>{{foundPerson.name}}</h1>
                <h3>Your table number is {{foundPerson.tableNumber}}</h3>
                <h4>Your pic is this {{foundPerson.picture}}</h4>
              </div>

              <ul class="list-group mt-3">
                <li class="list-group-item btn btn-hover" (click)="showPerson(i)"  *ngFor="let ppl of seatingList; let i = index; let even = even; let odd = odd;" href="#" [ngClass]="{ 'bg-light': odd, '': even}">
                    {{ ppl.name }} - Table: {{ppl.tableNumber}}
                </li>
              </ul>

              <!-- <div id="accordion">
                <div class="card">
                  <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                      <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne{{i}}" aria-expanded="true" aria-controls="collapseOne">
                        Collapsible Group Item #1
                      </button>
                    </h5>
                  </div>
              
                  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                  </div>
                </div>
              </div> -->

          </form>
      </div>
  </div>
</div>

