<div class="container">
  <div class="row justify-content-md-center text-center">
      <div class="col-12  " >
        <div class="text-center">
            <img src="assets/Main2.jpg" class="rounded mt-4" alt="Main" >
            </div>
        
            <!-- <h3 class="title">Seating Chart Search</h3> -->

            <input class="w-100 mt-4 mb-4" type="text" name="nameInput" placeholder="Start typing your name (Escriba su nombre)" autocomplete="off" [(ngModel)]="name" aria-label="Name" (keyup)="searchData($event)">
            
            <div *ngIf="searchResultsList.length" class="accordion mb-4" id="accordion">
                <div class="card" *ngFor="let ppl of searchResultsList; let i = index; let even = even; let odd = odd;" [ngClass]="{ 'bg-light': odd, '': even}">
                    <div class="card-header" id="headingOne{{i}}">
                    <h5 class="mb-0">
                        <button type="button" class="btn w-100" data-toggle="collapse" [attr.data-target]="'#collapseOne' + i" aria-expanded="false" [attr.aria-controls]="'collapseOne' + i">
                        {{ ppl.name }}
                        </button>
                    </h5>
                    </div>
                
                    <div id="collapseOne{{i}}" class="collapse" [attr.aria-labelledby]="'headingOne' + i" data-parent="#accordion">
                    <div class="card-body">
                        <h5>Table Number: {{ppl.tableNumber}}</h5>
                        <ul class="mt-1 pl-0" style="list-style-type:none;">
                            <li *ngFor="let member of ppl.tableMembers; let i = index; let even = even; let odd = odd;" [ngClass]="{ 'gold-color': odd, 'navy-color': even}">
                                {{ member}}
                            </li>
                          </ul>
                        <img [src]="'assets/Table' + ppl.tableNumber + '.jpg'" class="rounded mt-4" width="300" height="150">

                    </div>
                    </div>
                </div>
            </div>

            <div *ngIf="showNotFound" class="Jumbotron">
                
                <h1 class="display-4">You are a WEDDING CRASHER!</h1>
                <!-- <div id="overlay"></div> -->
                <img  src="assets/crashers.gif" height="250" width="300" >
            </div>

      </div>
  </div>
</div>

